@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    background-color: hsl(240, 37%, 8%);
    color: white;
    width: 1200px;
    margin: auto;
}

a{
    text-decoration: none; /* quitar subrayado */
}

header{
    height: 104px;
    background-color: hsl(243, 38%, 12%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header nav a{
        font-size: 20px;
        color: white;
        padding: 12px;
    }


main{
    min-height: 848px;
}

/* hero - banner */
    #hero{
        height: 512px;
        background-image: url(../imgs/hero.jpg);
        background-color: #20328a; 

        display: flex;
        align-items: center;
    }
        #hero h1{
            width: 552px;
            margin-left: 104px;
            padding: 10px 16px;
            background-color: hsla(240, 37%, 8%, 50%);
            font-size: 40px;
            font-weight: 600;
        }

    #casos{
        padding: 24px 0px;
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
    }
        #casos article{
            width: 384px;
            padding: 16px;
            background-color: hsl(240, 40%, 4%);
        }
        #casos article h2{
            margin: 16px 0px;
        }

/* página soluciones */
    #soluciones{
        margin-top: 56px;
        background-color: hsl(240, 37%, 10%);
        display: flex;
        flex-wrap: wrap;  /* respeta los anchos */
        row-gap: 56px;
    }
        #soluciones article{
            width: 1200px;
            display: flex;
            column-gap: 80px;
            align-items: center;
        }
            #soluciones article div{
                text-align: justify;
                padding-right: 32px;
            }
                #soluciones article div h2{
                    margin-bottom: 24px;
                }


footer{
    margin-top: 56px;
    height: 216px;
    background-color: hsl(240, 40%, 4%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    footer nav a{
        margin-left: 16px;
        margin-right: 16px;
    }