/*
    @import url();
*/
body{
    background-color: #4C5454;
    width: 1200px;
    margin: auto;
}
header{
    height: 104px;
    background-color: #FF715B;
}
main{
    height: 686px;
    background-color: #FFD3CC;
}
footer{
    height: 210px;
    background-color: #523F38;
}