@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* reseteo */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: Figtree, sans-serif;
    font-size: 24px;
    background-color: hsl(177, 100%, 12%);
    color: hsl(177, 100%, 90%);
}

main{
    width: 940px;
    margin: auto; /* centrar en eje horizontal */
}   

    article{
        width: 128px;
        height: 128px;
        border: 1px solid white;
    }

    #amarillo{
        background-color: #ff0;
    }    
    #naranja{
        background-color: #f60;
        padding: 16px;
    }
    #rojo{
        background-color: #f00;
    }